.sidebar {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #3A506B;
    padding: 15px;
}
.sidebar-icon {
    display: flex;
}
.sidebar-icon img {
    width: 50px;
}
.sidebar-group {
    display: flex;
    flex-flow: column wrap;
}
.sidebar-group img {
    width: 50px;
    margin: 10px;

}
.sidebar-connexion {
    display: flex;
    align-items: flex-end; 
}
.sidebar-connexion img {
    width: 50px;
}
