.sidebar {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 10%;
    color: white;
    background-color: #3A506B;
    height: 100vh;
    padding: 15px;
  }
  .sidebar-icons {
    display: flex;
    align-self: center;
  }
  .sidebar-icons img {
    width: 50px;
  }