.div-body {
  display: flex;
  height: 100vh;
}
.title-logo {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 90%;
  align-items: flex-start;
  justify-content: center;
}
.title-logo img {
  display: flex;
  width: 75vh;
  padding: 20px;
}
.ellipse {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 90%;
}







