.div-body {
  display: flex;
  height: 100vh;
}
.content {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  background-image: url('./img/ellipse.png');
  background-size: 70vh;
  background-repeat: no-repeat;
  background-position: center;
}








