
body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #0B132B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Space Grotesk', sans-serif;
}
